
<div class="profile clearfix">
  <div class="profile_pic">
    <img src="{{ asset('bundles/app/images/user.png') }}" alt="..." class="img-circle profile_img img-responsive">
  </div>
  <div class="profile_info">
    <span>Welcome</span>
    <h2> {% if is_granted("ROLE_ADMIN") %} {{ app.user.username }} {% endif %} </h2>
  </div>
</div>