{% extends "@FOSUser/layout.html.twig" %}
{% block body %}
<div class="right_col" role="main">
{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
</div>
{% endblock %}
