{% extends 'base.html.twig' %}

{% block body %}
<div class="right_col" role="main">
    <h1> Modifier une Transaction</h1>
    <ul>
        <li>
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Modifier" class="btn btn-warning" />
        {{ form_end(edit_form) }}
        </li>

        <li>
            <a href="{{ path('transactions_index') }}" class="btn btn-success">Retour a la liste</a>
        </li>
    </ul>
</div>
{% endblock %}
